# Pandas

dtype, astype

dtype - Return the dtypes in the DataFrame. This returns a Series with the data type of each column. ( type () )
astype - Cast a pandas object to a specified dtype.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

In [7]:
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2
0     1     3
1     2     4

In [25]:
print(df.dtypes)
print(df["col1"].dtype)

col1    int64
col2    int64
dtype: object
int64

In [26]:
df.astype("float").dtypes

col1    float64
col2    float64
dtype: object

In [27]:
df.dtypes

col1    int64
col2    int64
dtype: object

# Pandas

copy, deepcopy

Make a copy of this object’s indices and data. ( deep=True, deep=False )

In [29]:
df.copy?

Signature: df.copy(deep: 'bool_t | None' = True) -> 'Self'
Docstring:
Make a copy of this object's indices and data.

When ``deep=True`` (default), a new object will be created with a
copy of the calling object's data and indices. Modifications to
the data or indices of the copy will not be reflected in the
original object (see notes below).

When ``deep=False``, a new object will be created without copying
the calling object's data or index (only references to the data
and index are copied). Any changes to the data of the original
will be reflected in the shallow copy (and vice versa).

Parameters
----------
deep : bool, default True
    Make a deep copy, including a copy of the data and the indices.
    With ``deep=False`` neither the indices nor the data are copied.

Returns
-------
Series or DataFrame
    Object type matches caller.

Notes
-----
When ``deep=True``, data is copied but actual Python objects
will not be copied recursively, only the reference to the object.
This is in contrast to `copy.deepcopy` in the Standard Library,
which recursively copies object data (see examples below).

While ``Index`` objects are copied when ``deep=True``, the underlying
numpy array is not copied for performance reasons. Since ``Index`` is
immutable, the underlying data can be safely shared and a copy
is not needed.

Since pandas is not thread safe, see the
:ref:`gotchas <gotchas.thread-safety>` when copying in a threading
environment.

When ``copy_on_write`` in pandas config is set to ``True``, the
``copy_on_write`` config takes effect even when ``deep=False``.
This means that any changes to the copied data would make a new copy
of the data upon write (and vice versa). Changes made to either the
original or copied variable would not be reflected in the counterpart.
See :ref:`Copy_on_Write <copy_on_write>` for more information.

Examples
--------
>>> s = pd.Series([1, 2], index=["a", "b"])
>>> s
a    1
b    2
dtype: int64

>>> s_copy = s.copy()
>>> s_copy
a    1
b    2
dtype: int64

**Shallow copy versus default (deep) copy:**

>>> s = pd.Series([1, 2], index=["a", "b"])
>>> deep = s.copy()
>>> shallow = s.copy(deep=False)

Shallow copy shares data and index with original.

>>> s is shallow
False
>>> s.values is shallow.values and s.index is shallow.index
True

Deep copy has own copy of data and index.

>>> s is deep
False
>>> s.values is deep.values or s.index is deep.index
False

Updates to the data shared by shallow copy and original is reflected
in both; deep copy remains unchanged.

>>> s.iloc[0] = 3
>>> shallow.iloc[1] = 4
>>> s
a    3
b    4
dtype: int64
>>> shallow
a    3
b    4
dtype: int64
>>> deep
a    1
b    2
dtype: int64

Note that when copying an object containing Python objects, a deep copy
will copy the data, but will not do so recursively. Updating a nested
data object will be reflected in the deep copy.

>>> s = pd.Series([[1, 2], [3, 4]])
>>> deep = s.copy()
>>> s[0][0] = 10
>>> s
0    [10, 2]
1     [3, 4]
dtype: object
>>> deep
0    [10, 2]
1     [3, 4]
dtype: object

** Copy-on-Write is set to true: **

>>> with pd.option_context("mode.copy_on_write", True):
...     s = pd.Series([1, 2], index=["a", "b"])
...     copy = s.copy(deep=False)
...     s.iloc[0] = 100
...     s
a    100
b      2
dtype: int64
>>> copy
a    1
b    2
dtype: int64
File:      c:\users\user\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

In [13]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

df_copy_1 = df.copy(deep=True)
df_copy_2 = df.copy(deep=False)

df.at[0, "col1"] = 99
print(df_copy_1)
print(df_copy_2)

   col1  col2
0     1     3
1     2     4
   col1  col2
0    99     3
1     2     4

# eval, exec

Eval() only evaluates the single expression, not the complex logic code, whereas Exec can be used to execute any number of expression. exec() accept the source code which contains statements like, for, while, print, import, class.

In [3]:
eval("c=3+5")

SyntaxError: invalid syntax (<string>, line 1)

In [5]:
exec("c=3+5")
c

8

In [8]:
d = {'col1': ["[1,2,3,4]", "a=3+5"]}
df = pd.DataFrame(data=d)

In [9]:
print(df.loc[0, "col1"])
print(df.loc[1, "col1"])
print(type(df.loc[0, "col1"]))
print(type(df.loc[1, "col1"]))

print('===')

list_type = eval(df.loc[0, "col1"])
print(list_type)
print(type(list_type))

exec(df.loc[1, "col1"])
a

[1,2,3,4]
a=3+5
<class 'str'>
<class 'str'>
===
[1, 2, 3, 4]
<class 'list'>

8

# groupby

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

1. 기준이 될 Group 을 지정해주고
2. 기준이 되는 Group 을 중심으로 지정해준 Column 을 연산한다

In [14]:
d = {'col1': [1, 1, 1, 2, 2, 2], 'col2': [10, 20, 30, 100, 200, 300]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1    10
1     1    20
2     1    30
3     2   100
4     2   200
5     2   300

In [18]:
df.groupby("col1")["col2"].sum()

col1
1     60
2    600
Name: col2, dtype: int64

In [19]:
d = {'col1': [1, 1, 1, 2, 2, 2], 'col2': ["a", "b", "c", "1", "2", "3"]}
df = pd.DataFrame(data=d)
df

   col1 col2
0     1    a
1     1    b
2     1    c
3     2    1
4     2    2
5     2    3

In [20]:
df.groupby("col1")["col2"].sum()

col1
1    abc
2    123
Name: col2, dtype: object

In [25]:
type(df.groupby("col1")["col2"].sum())

pandas.core.series.Series

In [26]:
pd.DataFrame(df.groupby("col1")["col2"].sum())

     col2
col1
1     abc
2     123

# Pandas

Using Python Pandas To Find in DataFrame The Desired Values

In [17]:
d = {'col1': [1, 1, 1, 2, 2, 2, 3, 3, 3], 'col2': ["a", "b", "c", "1", "2", "3", "a", "b", "c"]}
df = pd.DataFrame(data=d)

con_1 = (df["col2"] == "b")
ret_1 = df[con_1]
print(ret_1)

con_2 = (df["col1"] == 3)
ret_2 = df[con_1 & con_2]
print(ret_2)

ret_3 = df[con_1 | con_2]
print(ret_3)

   col1 col2
1     1    b
7     3    b
   col1 col2
7     3    b
   col1 col2
1     1    b
6     3    a
7     3    b
8     3    c

# Pandas

read_csv - Parameter

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

1. usecols -> 불러오고 싶은 column 만 지정해줄 수 있다.
2. encoding -> 불러오는 Data 의 Encoding Type 을 지정. 
3. encoding_errors -> ignore 로 해버리면 강제로 불러올 수 있다.
4. header -> column 이 시작되는 위치를 지정해줄 수 있다.

# Pandas

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

1. to_csv 뿐만 아니라 to_excel 로 사용할 수 있다.
2. to_excel 에서의 장점은 Sheet 이름을 지정해줄 수 있다는 점이다.

parameter - sheet_name

In [18]:
d = {'col1': [1, 1, 1, 2, 2, 2, 3, 3, 3], 'col2': ["a", "b", "c", "1", "2", "3", "a", "b", "c"]}
df = pd.DataFrame(data=d)
xlsx_writer = pd.ExcelWriter("sample_2.xlsx")
df.to_excel(xlsx_writer, sheet_name="sheet1")
df.to_excel(xlsx_writer, sheet_name="sheet2")
xlsx_writer.close()

---

In [27]:
>>> df = pd.DataFrame(
...     [
...         [24.3, 75.7, "high"],
...         [31, 87.8, "high"],
...         [22, 71.6, "medium"],
...         [35, 95, "medium"],
...     ],
...     columns=["temp_celsius", "temp_fahrenheit", "windspeed"],
...     index=pd.date_range(start="2014-02-12", end="2014-02-15", freq="D"),
... )

In [28]:
df

            temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium

In [29]:
>>> df.get(["temp_celsius", "windspeed"])

            temp_celsius windspeed
2014-02-12          24.3      high
2014-02-13          31.0      high
2014-02-14          22.0    medium
2014-02-15          35.0    medium