In [1]:
import pandas as pd

In [7]:
data = {'date' : [1, 2], 'words' : [[('뉴욕', 'NNG'), ('증시', 'NNG')], [('한국', 'NNG'), ('대통령', 'NNG')]]}
df = pd.DataFrame(data=data)

In [8]:
df

   date                    words
0     1   [(뉴욕, NNG), (증시, NNG)]
1     2  [(한국, NNG), (대통령, NNG)]

In [17]:
df['words2'] = ""

In [23]:
for idx in df.index:
    df.at[idx, 'words2'] = [f'{item[0]}/{item[1]}' for item in df.loc[idx, 'words'] ]

In [24]:
df

   date                    words             words2
0     1   [(뉴욕, NNG), (증시, NNG)]   [뉴욕/NNG, 증시/NNG]
1     2  [(한국, NNG), (대통령, NNG)]  [한국/NNG, 대통령/NNG]

---

In [2]:
df = pd.read_csv('./bok_minutes_token_tag_stopword.txt')

In [ ]:
df