In [1]:
import pandas as pd

In [160]:
df1 = pd.read_csv('./naver_economy_life_0.csv')
df2 = pd.read_csv('./naver_economy_life_1.csv')
df1

In [163]:
df2

                                                      url  writer
0       https://n.news.naver.com/mnews/article/082/000...  김덕준 기자
1       https://n.news.naver.com/mnews/article/629/000...  박은평 기자
2       https://n.news.naver.com/mnews/article/374/000...  신채연 기자
3       https://n.news.naver.com/mnews/article/241/000...     NaN
4       https://n.news.naver.com/mnews/article/001/001...  박동주 기자
...                                                   ...     ...
161994  https://n.news.naver.com/mnews/article/003/001...  정병혁 기자
161995  https://n.news.naver.com/mnews/article/003/001...  정병혁 기자
161996  https://n.news.naver.com/mnews/article/003/001...  정병혁 기자
161997  https://n.news.naver.com/mnews/article/003/001...  정병혁 기자
161998  https://n.news.naver.com/mnews/article/003/001...  정병혁 기자

[161999 rows x 2 columns]

In [165]:
merged_df = pd.concat([df1, df2], ignore_index=True)
merged_df

In [167]:
merged_df.drop_duplicates(inplace=True)

In [168]:
merged_df

                                                      url  writer
0       https://n.news.naver.com/mnews/article/052/000...  이동우 기자
1       https://n.news.naver.com/mnews/article/422/000...  조성흠 기자
2       https://n.news.naver.com/mnews/article/001/001...  이지헌 기자
3       https://n.news.naver.com/mnews/article/052/000...  엄윤주 기자
4       https://n.news.naver.com/mnews/article/052/000...  나연수 기자
...                                                   ...     ...
622334  https://n.news.naver.com/mnews/article/022/000...     NaN
622335  https://n.news.naver.com/mnews/article/025/000...  손해용 기자
622336  https://n.news.naver.com/mnews/article/629/000...     NaN
622337  https://n.news.naver.com/mnews/article/087/000...  강동휘 기자
622338  https://n.news.naver.com/mnews/article/087/000...  신형철 기자

[622133 rows x 2 columns]

In [169]:
merged_df.to_csv('./naver_economy.csv', index=None)

In [170]:
data = pd.read_csv('./naver_economy.csv')
data

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254380 entries, 0 to 254379
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   site       254380 non-null  object
 1   category   254380 non-null  object
 2   sub        254380 non-null  object
 3   url        254380 non-null  object
 4   date       254380 non-null  object
 5   edit_date  141989 non-null  object
 6   title      254380 non-null  object
 7   press      254380 non-null  object
 8   content    254272 non-null  object
 9   reaction   254380 non-null  object
 10  comment    93428 non-null   object
dtypes: object(11)
memory usage: 21.3+ MB

In [123]:
from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta

start_date = date(2023, 4, 14)
end_date = start_date-relativedelta(days=31)

In [124]:
end_date

datetime.date(2023, 3, 14)