In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202306.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_8328\2427268233.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202306.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489903 entries, 0 to 489902
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     489903 non-null  object
 1   상호명        489903 non-null  object
 2   지점명        6082 non-null    object
 3   상권업종대분류코드  489903 non-null  object
 4   상권업종대분류명   489903 non-null  object
 5   상권업종중분류코드  489903 non-null  object
 6   상권업종중분류명   489903 non-null  object
 7   상권업종소분류코드  489903 non-null  object
 8   상권업종소분류명   489903 non-null  object
 9   표준산업분류코드   489833 non-null  object
 10  표준산업분류명    489833 non-null  object
 11  시도코드       489903 non-null  int64
 12  시도명        489903 non-null  object
 13  시군구코드      489903 non-null  int64
 14  시군구명       489903 non-null  object
 15  행정동코드      489903 non-null  int64
 16  행정동명       489903 non-null  object
 17  법정동코드      489903 non-null  int64
 18  법정동명       489903 non-null  object
 19  지번코드       489903 non-null  int64
 20  대지구분코드     489903 non-null  int64
 21  대지구분명      489903 non-null  object
 22  지번본번지      489903 non-null  int64
 23  지번부번지      409738 non-null  float64
 24  지번주소       489903 non-null  object
 25  도로명코드      489903 non-null  int64
 26  도로명        489903 non-null  object
 27  건물본번지      489902 non-null  float64
 28  건물부번지      64400 non-null   float64
 29  건물관리번호     489899 non-null  object
 30  건물명        232380 non-null  object
 31  도로명주소      489903 non-null  object
 32  구우편번호      489903 non-null  int64
 33  신우편번호      489903 non-null  int64
 34  동정보        0 non-null       float64
 35  층정보        338831 non-null  object
 36  호정보        0 non-null       float64
 37  경도         489903 non-null  float64
 38  위도         489903 non-null  float64
dtypes: float64(7), int64(10), object(22)
memory usage: 145.8+ MB

In [4]:
df.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0037544,영자's곱창,NaN,I2,음식,I201,한식,I20109,곱창 전골/구이,I56111,...,1121510100101690021003140,NaN,서울특별시 광진구 면목로 172,143900,4904,NaN,1,NaN,127.082832,37.568503
1,MA0101202210A0097916,호텔클로이,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,1114014500101300000014092,유성장,서울특별시 중구 을지로42길 11,100411,4561,NaN,NaN,NaN,127.005849,37.565708

In [18]:
store_df = df[df['상권업종소분류코드']=='G20506'] # 업종코드가 채소과일소매업인 데이터만 남기기
store_df.reset_index(drop=True, inplace=True) # 기존 인덱스를 데이터프레임 컬럼으로 편입하지 않고, 인덱스 리셋
store_df.to_csv('소상공인진흥공단_상권_G20506_채소과일소매업_1417건.csv', index=False)

- 참고

오류 메시지 DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.  
시간날 때 디버깅하고 업데이트하기