In [1]:
import pandas as pd

In [3]:
# 데이터 로드
subway_data = pd.read_csv('./data/서울지하철_호선별_역별_승하차인원_일평균_행정동포함.csv', usecols = ['행정동명', '승하차인원'])
bus_data = pd.read_csv('./data/버스 행정동별 합계 최종.csv', index_col=0)

# 행정동명으로 인덱스 
# subway_data.set_index('행정동명', inplace=True)
# bus_data.set_index('행정동명', inplace=True)

# 소수점 값이 포함된 지하철 승하차 인원은 반올림 후, 정수로 형 변화
subway_data['승하차인원'] = round(subway_data['승하차인원']).astype('int')

# 행정동별로 그룹핑하고 합계 내기
subway_data = subway_data.groupby('행정동명').sum().reset_index()

In [4]:
bus_data.head(2)

   행정동명   승하차인원
0  가락1동  145128
1  가락2동  179506

In [5]:
subway_data.head(2)

   행정동명  승하차인원
0  가락1동  39596
1  가락2동  10546

In [7]:
# 버스와 지하철 데이터 합치기
final_df = pd.merge(bus_data, subway_data, on=['행정동명'], how='left', suffixes=['_버스', '_지하철'])
final_df.fillna(0, inplace=True)

# 승하차 인원 합계
final_df['승하차인원_버스_지하철'] = final_df['승하차인원_버스'] + final_df['승하차인원_지하철']
final_df

     행정동명  승하차인원_버스  승하차인원_지하철  승하차인원_버스_지하철
0    가락1동    145128    39596.0      184724.0
1    가락2동    179506    10546.0      190052.0
2    가락본동    263168    10459.0      273627.0
3    가리봉동    230955        0.0      230955.0
4     가산동    899875    40233.0      940108.0
..    ...       ...        ...           ...
421   효창동    130781    10164.0      140945.0
422   후암동    176879        0.0      176879.0
423  휘경1동    402280        0.0      402280.0
424  휘경2동    227224        0.0      227224.0
425   흑석동    490509    11721.0      502230.0

[426 rows x 4 columns]

In [131]:
final_df.to_csv('./preprocessed_data/버스_지하철_승하차인원_8월평균.csv', index=None)