수도권 1, 9호선 주소 정보 가져와서 하나로 합치기

In [1]:
import pandas as pd

In [11]:
# 데이터 불러오기
line_1 = pd.read_excel('./data_to_preprocess/수도권1호선주소.xlsx')
line_9 = pd.read_excel('./data_to_preprocess/수도권9호선주소.xlsx')
line_1_9 = pd.concat([line_1, line_9])

In [14]:
# 불필요한 열 제거하고 컬럼명 변경
line_1_9.drop(columns='철도운영기관명', inplace=True)
line_1_9.rename(columns={'선명': '호선'}, inplace=True)
line_1_9

     호선     역명                   지번주소               도로명주소
0   1호선    소요산    경기도 동두천시 상봉암동 126-3   경기도 동두천시 평화로 2925
1   1호선    동두천  경기도 동두천시 동두천동 245-210  경기도 동두천시 평화로 2687
2   1호선     보산       경기도 동두천시 보산동 422   경기도 동두천시 평화로 2539
3   1호선  동두천중앙     경기도 동두천시 생연동 726-3   경기도 동두천시 동두천로 228
4   1호선     지행     경기도 동두천시 지행동 424-1   경기도 동두천시 평화로 2285
..  ...    ...                    ...                 ...
25  9호선     언주  서울특별시 강남구 논현동 279-165  서울특별시 강남구 봉은사로 201
26  9호선    선정릉  서울특별시 강남구 삼성동 111-114   서울특별시 강남구 선릉로 580
27  9호선   삼성중앙  서울특별시 강남구 삼성동 111-147  서울특별시 강남구 봉은사로 501
28  9호선    봉은사      서울특별시 강남구 삼성동 172  서울특별시 강남구 봉은사로 601
29  9호선  종합운동장      서울특별시 송파구 잠실동 123   서울특별시 송파구 올림픽로 23

[128 rows x 4 columns]

괄호 안의 역명은 괄호와 함께 제거

In [18]:
# 역명 조회
print(line_1_9['역명'].to_list())

['소요산', '동두천', '보산', '동두천중앙', '지행', '덕정', '덕계', '양주', '녹양', '가능', '의정부', '회룡', '망월사', '도봉산', '도봉', '방학', '창동', '녹천', '월계', '광운대', '석계', '신이문', '외대앞', '회기', '남영', '용산', '노량진', '대방', '신길', '영등포', '신도림', '구로', '구일', '개봉', '오류동', '온수', '역곡', '소사', '부천', '중동', '송내', '부개', '부평', '백운', '동암', '간석', '주안', '도화', '제물포', '도원', '동인천', '인천', '가산디지털단지', '독산', '금천구청', '광명', '석수', '관악', '안양', '명학', '금정', '군포', '당정', '의왕', '성균관대', '화서', '수원', '세류', '병점', '서동탄', '세마', '오산대', '오산', '진위', '송탄', '서정리', '지제', '평택', '성환', '직산', '두정', '천안', '봉명', '쌍용(나사렛대)', '아산', '배방', '온양온천', '신창(순천향대)', '청량리(서울시립대입구)', '제기동', '신설동', '동묘앞', '동대문', '종로5가', '종로3가', '종각', '시청', '서울역', '개화', '김포공항', '공항시장', '신방화', '마곡나루', '양천향교', '가양', '증미', '등촌', '염창', '신목동', '선유도', '당산', '국회의사당', '여의도', '샛강', '노량진', '노들', '흑석(중앙대입구)', '동작(현충원)', '구반포', '신반포', '고속터미널', '사평', '신논현', '언주', '선정릉', '삼성중앙', '봉은사', '종합운동장']

In [19]:
# 괄호 안에 포함된 역명 괄호와 함께 제거
line_1_9['역명'] = line_1_9['역명'].map(lambda x : x.split('(')[0] if x.find('(') > 0 else x)

In [20]:
# 제거 후, 역명 조회
print(line_1_9['역명'].to_list())

['소요산', '동두천', '보산', '동두천중앙', '지행', '덕정', '덕계', '양주', '녹양', '가능', '의정부', '회룡', '망월사', '도봉산', '도봉', '방학', '창동', '녹천', '월계', '광운대', '석계', '신이문', '외대앞', '회기', '남영', '용산', '노량진', '대방', '신길', '영등포', '신도림', '구로', '구일', '개봉', '오류동', '온수', '역곡', '소사', '부천', '중동', '송내', '부개', '부평', '백운', '동암', '간석', '주안', '도화', '제물포', '도원', '동인천', '인천', '가산디지털단지', '독산', '금천구청', '광명', '석수', '관악', '안양', '명학', '금정', '군포', '당정', '의왕', '성균관대', '화서', '수원', '세류', '병점', '서동탄', '세마', '오산대', '오산', '진위', '송탄', '서정리', '지제', '평택', '성환', '직산', '두정', '천안', '봉명', '쌍용', '아산', '배방', '온양온천', '신창', '청량리', '제기동', '신설동', '동묘앞', '동대문', '종로5가', '종로3가', '종각', '시청', '서울역', '개화', '김포공항', '공항시장', '신방화', '마곡나루', '양천향교', '가양', '증미', '등촌', '염창', '신목동', '선유도', '당산', '국회의사당', '여의도', '샛강', '노량진', '노들', '흑석', '동작', '구반포', '신반포', '고속터미널', '사평', '신논현', '언주', '선정릉', '삼성중앙', '봉은사', '종합운동장']

In [22]:
# 주소가 결측치인 row 확인
line_1_9.isnull().value_counts()

호선     역명     지번주소   도로명주소
False  False  False  False    127
              True   False      1
Name: count, dtype: int64

In [25]:
# 도로명 주소에 서울이 포함된 행만 남기기
line_1_9 = line_1_9[line_1_9['도로명주소'].str.contains('서울')]
line_1_9

     호선     역명                   지번주소                  도로명주소
13  1호선    도봉산     서울특별시 도봉구 도봉동 18-1   서울특별시 도봉구 도봉로 964-33
14  1호선     도봉      서울특별시 도봉구 도봉동 639   서울특별시 도봉구 도봉로 170길 2
15  1호선     방학      서울특별시 도봉구 방학동 728  서울특별시 도봉구 도봉로 150다길 3
16  1호선     창동     서울특별시 도봉구 창동 135-1    서울특별시 도봉구 마들로11길 77
17  1호선     녹천     서울특별시 도봉구 창동 57-11      서울특별시 도붕구 덕릉로 376
..  ...    ...                    ...                    ...
25  9호선     언주  서울특별시 강남구 논현동 279-165     서울특별시 강남구 봉은사로 201
26  9호선    선정릉  서울특별시 강남구 삼성동 111-114      서울특별시 강남구 선릉로 580
27  9호선   삼성중앙  서울특별시 강남구 삼성동 111-147     서울특별시 강남구 봉은사로 501
28  9호선    봉은사      서울특별시 강남구 삼성동 172     서울특별시 강남구 봉은사로 601
29  9호선  종합운동장      서울특별시 송파구 잠실동 123      서울특별시 송파구 올림픽로 23

[66 rows x 4 columns]

In [26]:
# 파일 내보내기
line_1_9.to_csv('./preprocessed_data/서울_1_9_호선_주소.csv', index=False)