In [9]:
import pandas as pd

df = pd.read_csv('./document_with_label.csv')
for i in range(len(df)//500+1):
    df.iloc[i*500:(i+1)*500].to_csv('./document_with_label_{}.csv'.format(i), index=None)

In [32]:
for i in range(7):
    df = pd.read_csv('./document_with_label_{}.csv'.format(i))
    ngram_result = [] 

    for label in ['상승', '하락']:
        for words in df[df['up_down']==label]['words'].apply(eval):
            temp = []
            temp += words
            for n in range(2, 6):
                ngram = list(map(';'.join, zip(*[words[idx:] for idx in range(n)])))
                temp+=ngram
            ngram_result.append(temp)

        freqd = nltk.FreqDist(itertools.chain(*ngram_result))
        cdf = pd.DataFrame(list(zip(freqd.keys(), freqd.values())))
        cdf.to_csv('counting_{}_{}.csv'.format(i, label), index=None)

In [3]:
import json
with open('./ngram_result.json', 'w', encoding='utf-8') as f:
    json.dump(ngram_result, f)

In [9]:
test_tokens =ngram_result[0][:10]

In [11]:
for n in range(2, 6):
    ngram = list(zip(*[test_tokens[idx:] for idx in range(n)]))
    
    print(ngram)

[('뉴욕증시', '거래일'), ('거래일', '맞'), ('맞', '혼조세'), ('혼조세', '장'), ('장', '출발'), ('출발', '일'), ('일', '미'), ('미', '시간'), ('시간', '오전')]
[('뉴욕증시', '거래일', '맞'), ('거래일', '맞', '혼조세'), ('맞', '혼조세', '장'), ('혼조세', '장', '출발'), ('장', '출발', '일'), ('출발', '일', '미'), ('일', '미', '시간'), ('미', '시간', '오전')]
[('뉴욕증시', '거래일', '맞', '혼조세'), ('거래일', '맞', '혼조세', '장'), ('맞', '혼조세', '장', '출발'), ('혼조세', '장', '출발', '일'), ('장', '출발', '일', '미'), ('출발', '일', '미', '시간'), ('일', '미', '시간', '오전')]
[('뉴욕증시', '거래일', '맞', '혼조세', '장'), ('거래일', '맞', '혼조세', '장', '출발'), ('맞', '혼조세', '장', '출발', '일'), ('혼조세', '장', '출발', '일', '미'), ('장', '출발', '일', '미', '시간'), ('출발', '일', '미', '시간', '오전')]

In [11]:
import nltk
import itertools

In [27]:
df['words']

0      ['뉴욕증시', '거래일', '맞', '혼조세', '장', '출발', '일', '미...
1      ['뉴욕증시', '마지막', '거래일', '맞', '실적', '예상치', '계속',...
2      ['사진', '한경', 'DB', '한국', '혁신기업', '집중투자', '상장지수...
3      ['보험', '카드사', '실적발표', '이어진', '가운데', '올해', '상반기...
4      ['경제', '채권', '매크로', '이슈', '점검', '금리', '추가', '상...
                             ...
495    ['통화정책', '불확실성', '완화', '미연준', '월', '연간', '통화정책...
496    ['인플레', '적극', '대응', '미연준', '월', '정책금리', '인상', ...
497    ['뉴욕증시', '연방공개시장위원회', 'FOMC', '정례회의', '결과', '앞...
498    ['미국', '뉴욕', '백화점', '전경', '미국', '도매', '물가', '달...
499    ['미국', '시간', '일', '오전', '다우', 'S&P500', '선물', ...
Name: words, Length: 500, dtype: object

In [30]:
list(itertools.chain(*df['words'].apply(eval)))[:20]

['뉴욕증시',
 '거래일',
 '맞',
 '혼조세',
 '장',
 '출발',
 '일',
 '미',
 '시간',
 '오전',
 '현재',
 '다우존스30산업평균지수',
 '전장',
 '포인트',
 '오른',
 '기록',
 '중',
 'S&P',
 '지수',
 '전장']

In [23]:
freqd = nltk.FreqDist(itertools.chain(*df['words'].apply(eval)))

In [24]:
cdf = pd.DataFrame(list(zip(freqd.keys(), freqd.values())))

In [25]:
df['words']

0      ['뉴욕증시', '거래일', '맞', '혼조세', '장', '출발', '일', '미...
1      ['뉴욕증시', '마지막', '거래일', '맞', '실적', '예상치', '계속',...
2      ['사진', '한경', 'DB', '한국', '혁신기업', '집중투자', '상장지수...
3      ['보험', '카드사', '실적발표', '이어진', '가운데', '올해', '상반기...
4      ['경제', '채권', '매크로', '이슈', '점검', '금리', '추가', '상...
                             ...
495    ['통화정책', '불확실성', '완화', '미연준', '월', '연간', '통화정책...
496    ['인플레', '적극', '대응', '미연준', '월', '정책금리', '인상', ...
497    ['뉴욕증시', '연방공개시장위원회', 'FOMC', '정례회의', '결과', '앞...
498    ['미국', '뉴욕', '백화점', '전경', '미국', '도매', '물가', '달...
499    ['미국', '시간', '일', '오전', '다우', 'S&P500', '선물', ...
Name: words, Length: 500, dtype: object

In [26]:
cdf

           0     1
0       뉴욕증시  6168
1        거래일  7552
2          맞  4224
3        혼조세   929
4          장  9168
...      ...   ...
48883   흐른다면     1
48884     임직     1
48885     쌍수     1
48886     돕지     1
48887  군산복합체     1

[48888 rows x 2 columns]