In [15]:
# 'w' 모드 - 파일 새로 생성
with open('./test.csv', 'w') as f:
    f.write('3344,3333,4444')

In [17]:
open('./last_id', 'r').read()
# .txt

'3322'

In [23]:
# 'a' 모드 -원본 상태 그대로 가져와서 값 추가하기
with open('./test.csv', 'a') as f:
    # data = f.readlines()
    f.write('555,666\n')  # 줄바꿈 기호

In [38]:
with open('order.csv', 'w', encoding='utf-8') as f:
    f.write('고객명,상품명,수량,금액\n')

In [39]:
with open('./order.csv', 'a', encoding='utf-8') as f:
    f.write('jason,신발,1,75000\n')

In [34]:
order_list = [
    ['name1', 'shoes', 1, 90000],
    ['name2', 'shirts', 10, 500000],
]

In [40]:
with open('./order.csv', 'a', encoding='utf-8') as f:
    for order in order_list:
        f.write(','.join(map(str, order)) + '\n')

In [52]:
with open('./order.csv', 'r', encoding='utf-8') as f:
    # read_str = f.read() # 모든 텍스트를 하나의 문자열로 읽어온다
    # read_one_line = f.readline()
    read_multiple_lines = f.readlines()

In [42]:
read_str

'고객명,상품명,수량,금액\njason,신발,1,75000\nname1,shoes,1,90000\nname2,shirts,10,500000\n'

In [44]:
[l.split(',') for l in read_str.split('\n')]

[['고객명', '상품명', '수량', '금액'],
 ['jason', '신발', '1', '75000'],
 ['name1', 'shoes', '1', '90000'],
 ['name2', 'shirts', '10', '500000'],
 ['']]

In [45]:
read_str.split('\n')

['고객명,상품명,수량,금액',
 'jason,신발,1,75000',
 'name1,shoes,1,90000',
 'name2,shirts,10,500000',
 '']

In [50]:
read_one_line

'고객명,상품명,수량,금액\n'

In [53]:
read_multiple_lines

['고객명,상품명,수량,금액\n',
 'jason,신발,1,75000\n',
 'name1,shoes,1,90000\n',
 'name2,shirts,10,500000\n']

In [54]:
[order.strip().split(',') for order in read_multiple_lines]

[['고객명', '상품명', '수량', '금액'],
 ['jason', '신발', '1', '75000'],
 ['name1', 'shoes', '1', '90000'],
 ['name2', 'shirts', '10', '500000']]

In [61]:
for order in read_multiple_lines:
    print(order.strip().split(','))

['고객명', '상품명', '수량', '금액']
['jason', '신발', '1', '75000']
['name1', 'shoes', '1', '90000']
['name2', 'shirts', '10', '500000']

---
## 실습 2
- CSV로 작성된 연도, 월별 판매데이터를 취합해 한 개의 CSV 파일에 연도, 월, 매출로 구성된 파일
 생성
- 각 연도, 월별 판매 데이터에는 수강생명, 수강금액, 상담날짜, 강좌명으로 구성된 CSV 파일

## Answer

In [5]:
import os
BASE_DIR = './실습2/csv_files/'
csv_files = os.listdir(BASE_DIR)

sales_data = []
for file in csv_files:
    # 방법 1
    datas = open(BASE_DIR + file, 'r', encoding='cp949').readlines()
    sum = 0
    for l in datas[1:]:
        cost = int(l.split(',')[1])
        sum += cost

    year, month, _ = file.split('.')

    sales_data.append([year, month, sum])        

sales_data

[['2017', '01', 7240000],
 ['2017', '02', 7410000],
 ['2017', '03', 7550000],
 ['2017', '04', 7720000],
 ['2017', '05', 7950000],
 ['2017', '06', 7730000],
 ['2017', '07', 8000000],
 ['2017', '08', 7740000],
 ['2017', '09', 7940000],
 ['2017', '10', 7810000],
 ['2017', '11', 7320000],
 ['2017', '12', 8040000]]

In [8]:
with open(BASE_DIR + '../summary.csv', 'w', encoding='utf-8') as f:
    f.write('연도, 월, 매출\n')

    for sd in sales_data:
        f.write(','.join(map(str, sd)) + '\n')